DEBUG=True
FLASK_ENV=development
#FLASK_APP=myapp.app.py
#APP_SETTINGS=myapp.configuration.config.DevelopmentConfig
#OAUTHLIB_INSECURE_TRANSPORT=true
#SQLALCHEMY_ECHO=True
#MAIL_USERNAME=myemail@gmail.com
#MAIL_PASSWORD=my secret password
#DATABASE_URL=sqlite:///development_database.db# API key:
#TWITTER_API_KEY=ds9f7sdf0s809df80s98d09f8s0
# API secret key:
#TWITTER_API_SECRET_KEY=99asd8f08)C*)(8908dsC)*C)(80s9d808sC*()# API Client ID:
#FACEBOOK_API_CLIENT_ID=12312312312313123123
# API secret key:
#FACEBOOK_API_SECRET_KEY=ssdf098809808sd76s7f646s45d46fsd